
<div class="navbar-dark bg-light border-right" id="sidebar-wrapper">
	<div class="sidebar-heading m-3 font-weight-bold text-uppercase"><h5 class="text-center">Project Manager</h5></div>
	<div class="list-group list-group-flush">
		<a href="/links" class="list-group-item list-group-item-action bg-dark text-white border-bottom text-center">Overview</a>
		<a href="/links/add" class="list-group-item list-group-item-action bg-dark text-white border-bottom text-center">Create Process</a>
		<a href="#" class="list-group-item list-group-item-action bg-dark text-white border-bottom text-center">Dashboard</a>

	</div>
</div>